*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("8389461\ copy.jpg");
    background-size: 1550px 750px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.card{
    border: 2px solid rgba(255, 250, 250, 0.659);
    width: 800px;
    background: transparent;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.209);
    color: whitesmoke;
}

button:hover{
    transform: scale(1.1);
}

.card-header{
    border-bottom: 2px solid rgba(255, 255, 255, 0.659);
}

.card-footer{
    color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.659);
}

p{
    color: whitesmoke;
}

.intro{
    margin-top: 20px;
}

.intro h6{
    margin-top: 20px;
}

.submit{
    margin-top: 15px;
}

.guess{
    margin: 20px;   
}

input{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: whitesmoke;
    width: 500px;
    padding: 12px;
}

.highorlow{
    margin-top: 10px;
}

.againButton{
    margin: 10px 10px;
}

@media only screen and (max-width: 600px){


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .main{
        width: 300px;
    }

    .guessfield{
        width: 180px;
    }

    body{
        background-size: 1300px 700px;
    }

    #main{
        margin-top: 35px;
    }

}




